{% block content %}
  <h1>Edit User</h1>
    <form action="{{ url ~ '/' ~ user.properties.id }}" method="POST">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" id="firstName" class="form-control" value="{{ user.properties.firstName }}">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" id="lastName" class="form-control" value="{{ user.properties.lastName }}">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" class="form-control" value="{{ user.properties.email }}">
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
{% endblock %}
