{% block content %}
  <h1>User Details</h1>
  <p><strong>Name:</strong> {{ user.properties.firstName}} {{ user.properties.lastName }}</p>
  <p><strong>Email:</strong> {{ user.properties.email }}</p>
{% endblock %}